Port 2222
PermitRootLogin no
PasswordAuthentication yes
ChallengeResponseAuthentication no
UsePrivilegeSeparation sandbox
StrictModes yes
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_rsa_key
Subsystem sftp internal
X11Forwarding no
UsePAM yes
UseDNS no
